@import url(https://fonts.googleapis.com/css?family=Arimo);
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #EC644B;
    font-family: "Arimo";
    color: white;
    letter-spacing: 1px;
}
.card-form {
    width: 500px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.card-form .form-title {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    background: #59ABE3;
    border-radius: 10px 10px 0 0;
}
.card-form .form-body {
    padding: 10px;
}
.card-form .form-body .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px;
}
.card-form .form-body .row input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin: 0 15px;
    height: 35px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #e8ebed;
    color: #576366;
    font-size: 14px;
    /*text-align: center;*/
}
.card-form .rule {
    height: 2px;
    background: #e8ebed;
    margin: 0px 35px;
}
.card-form .form-footer {
    /*margin: 0 25px 15px 143px;*/
    padding: 15px 10px;
}
.card-form .form-footer a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background: #59ABE3;
    margin-right: 10px;
    font-size: 14px;
    width: 40%;
    text-align: center;
}
.card-form .form-footer span {
    margin-left: 8px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.row {
    color: #576366;
}
.form-footer a {
    cursor: pointer;
}
.options {
    /*margin: 0 auto;*/
    
    width: 38%;
    color: #576366;
    display: inline-block;
    margin-left: 12%;
    border-right: 1px solid #ccc;
    margin-top: 10px;
}
.options {
    margin-bottom: 2px;
}
.form-body .form-footer {
    margin-left: 15px;
}
.optionsAllIn {
    margin-left: 12%;
    display: inline-block;
    color: #576366;
    margin-top: 10px;
}
.card-form .form-body .last input {
    font-size: 18px;
}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
.hr-text:before {
    content: '';
    background: -webkit-linear-gradient(left, transparent, #818078, transparent);
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}